

/* ==========================================================================
   Author's custom styles
   ========================================================================== */









.mrjumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: lightblue;
}







